
.ajax_list {
    position: relative;
    margin: 20px 0px 32px 0px;
}


.ajax_list_title {
    font-weight: bold;
    color: #333;
    border-bottom: #aaa solid 1px;
    padding-bottom: 5px;
    margin-bottom: 14px;
}

.ajax_list_title i {
    display: inline-block;
    padding-left: 10px;
    font-weight: normal;
}

.ajax_list_title img {
    display:inline-block;
    padding: 0px 0px 3px 0px;
    vertical-align: middle;
}


.ajax_list_refresh_pending {
    position: absolute;
    top: 1px;
    right: 5px;
    z-index: 5;
    width: 16px;
    height: 16px;
}

a.ajax_list_refresh:link, a.ajax_list_refresh:visited {
    float: right;
    display: inline-block;
    padding: 3px 3px 3px 23px;
    text-decoration: none;
    background: url(../img/arrow_refresh.png) no-repeat scroll 3px center transparent;
}
.ajax_list table {
    width: 100%;
}

.ajax_list table td.list_action {
    text-align: right;
}

.ajax_list table td {
    padding: 4px 4px 6px 6px;
}

.ajax_list table th {
    padding: 2px 4px 6px 6px;
}

.ajax_list table tr:nth-child(even) {
    background-color:#eff8fe;
}
.ajax_list table tr {
    border-bottom: #e0eefe solid 1px;
    cursor:hand;
}


.ajax_list table tr:hover td {
    background-color: #ffb;
}

.ajax_list table td a.button {
    height: 16px;
}

.ajax_list .unbreakable {
    white-space: nowrap;
    display: inline-block;
}

.list_data img {
    margin:0px 3px;
}

.ajax_list .unbreakable:first-of-type {
    padding-left: 0px;
}


.ajax_list .id_info {
    display: inline;
    color: #333;
    font-size: 10px;
    margin-left:4px;
}

.ajax_list .user_count {
    display: inline-block;
    padding: 3px 3px 3px 18px;
    font-size: 18px;
    background: url(../img/user_suit.png) no-repeat scroll left 4px;
}

a.dialog_link img {
    margin-right:5px;
}

.confirm_msg {
    display: none;
}