
.dataTables_wrapper table.data_tables tr.odd {
    background-color:#eff8fe!important;
}

.dataTables_wrapper table.data_tables tr.odd td.sorting_1 {
    background-color:#e8eff6!important;
}

.dataTables_wrapper table.data_tables tr.even td.sorting_1 {
    background-color:#ecf4fa!important;
}

.dataTables_wrapper table.data_tables tr {
    border-bottom: #e0eefe solid 1px!important;
    cursor:hand!important;
}





.dataTables_wrapper table.data_tables tr:hover td {
    background-color: #ffb!important;
}